[2019-06-18 02:54] alphor opened #1 "Stutter not found by gradle post revision dc9d1bf"
First off, this looks like a great attempt! From looking at the code there isn't anything too complicated: get a project connection, build the model from there, map it to some json, and read that into Nix at nix build time.

When demoing this project for myself I ran into an issue building:
[code]

stacktrace of the non working revision:
[code]

Revision 13a84 adds the stutter dependency as a grad

[2019-06-18 21:10] tadfisher commented on #1
First off, thanks for trying this out!

This is currently in a state of flux; the dependency JSON format is all-new, but I haven't finished the actual Nix derivation which consumes it. For now, the project should be buildable with `java` in the environment, using `./gradlew build`.

I was hoping to get some feedback into how this should be structured; do we want to generate a `default.nix`, or som

[2019-06-19 21:37] tadfisher commented on #1
@alphor Care to try the latest commit? It should be self-hosting now.

For now, to use this you'll need to write your own build script and import the generated `gradle-env.nix`. See `default.nix` for details.

[2019-06-22 02:40] alphor commented on #1
Here's the derivation I wrote, following the comments you left modulo some typos (gradleEnv.nix -> gradle-env.nix, omission of name in derivation)
[code]
It worked to build, and gradle2nix in bin is executable, though I couldn't get it to show up in my path when I put it in `environment.systemPackages` with `(import ./g2n.nix { inherit pkgs; }`. Calling through to the generated result symlink work

[2019-06-22 02:42] alphor commented on #1
Would you like pull requests on this repo?

[2019-06-24 17:37] tadfisher commented on #1
I have no idea why this would be the case, but I'll try it out here and see what the problem is.

This is a problem I'm seeing:

[code]

For now, the lowest Gradle version supported is 4.4.1, because plugin resolution works much differently prior to that version and I haven't written an alternative plugin resolver.

However, if it's failing on 4.6 and 5.4.1, I'd like to see the project so I can fi

[2019-06-30 17:24] alphor commented on #1
Yeah, no problem!

I'm going to close this issue since it's resolved and create a new one: mainly gradle2nix isn't in the path (but does produce working output) when I provide it in environment.systemPackages using the expression in this comment: https://github.com/tadfisher/gradle2nix/issues/1#issuecomment-504620088

[2019-06-30 17:24] #1 closed

[2019-06-30 17:32] alphor commented on #1
Figured it out actually: was missing the glob in the installPhase: `cp -r app/build/install/gradle2nix/* $out`

[2019-07-01 17:42] danielfullmer opened #2 "fixupPhase messes up "info/*" paths"
If the dependency name is (for example) `info.guardianproject.netcipher-netcipher-2.0.0-beta1-jar`, the path in the generated dependencies tree ends up as `share/info/guardianproject/...` instead of the desired `info/guardianproject/...`.

This is caused by including `fixupPhase` in `mkDep`. Is fixupPhase needed here for reasons I don't realize? Removing fixupPhase also seems to speed up the time

[2019-07-02 07:31] tadfisher commented on #2
I believe I copied that from `fetchMavenArtifact`. It probably doesn't need to happen.

[2019-10-16 22:01] tadfisher commented on #2
Fixed in https://github.com/tadfisher/gradle2nix/commit/3afaaa373ae029aab8090d777013fcf5012bae59

[2019-10-16 22:01] #2 closed

[2019-10-31 21:37] wamserma opened #4 "gradle2nix hangs with Mindustry v99"
Tried running gradle2nix on https://github.com/Anuken/Mindustry/tree/v99 with
`nix-shell -p jre --run '../g2n` resulting in
[code]
at which point it seemed to hang.

See https://github.com/NixOS/nixpkgs/pull/72198#issuecomment-548568499 for the packaging discussion of Mindustry.

[2019-10-31 22:58] tadfisher commented on #4
I believe we need to add an option to explicitly list which subprojects to resolve, as right now `gradle2nix` will attempt to resolve all of them. I'm assuming you don't want to package the Android app here.

[2019-11-01 00:38] tadfisher commented on #4
Can you try the `explicit-subprojects` branch with the following:

[code]

Seems to resolve fine now with this change.

[2019-11-01 00:40] tadfisher commented on #4
Also, the hanging may be due to Gradle fetching a whole ton of dependencies. I'm not currently piping the output of the nested Gradle build anywhere, so you won't see anything while that's happening.

[2019-11-01 22:41] tadfisher commented on #4
Sorry, the first commit was broken; it should now resolve the dependencies for the subprojects that `:desktop` depends on:

[code]

Then with a `default.nix` containing the following:

[code]

I can run `nix build -f default.nix` and *almost* get a working result. Unfortunately, the project uses a `SNAPSHOT` dependency on `robovm-compiler`, which doesn't use the default Maven directory layout that

[2019-11-03 20:00] wamserma commented on #4
A working proposal for Mindustry, following the pattern of packaging used in shattered-pixel-dungeon-gdx has been added as https://github.com/NixOS/nixpkgs/pull/72306, no need to hurry.
Nevertheless, building Mindustry can be a good benchmark for gradle2nix, so let's keep the issue open.

[2019-11-03 20:01] wamserma commented on #4
Yes, that may well be. Gradle2Nix could be a tad more verbose there.

[2020-01-09 22:24] bryandatanerds opened #6 "License for gradle2nix"
Hello,

I searched the repo but couldn't find any mention of a license for gradle2nix.  Has one been decided upon for this project?

Thanks!

[2020-01-23 18:27] #4 closed

[2020-01-24 20:36] tadfisher commented on #6
Licensed under MIT. Thanks!

[2020-01-24 20:36] #6 closed

[2020-01-24 20:51] bryandatanerds commented on #6
:tada:  Excellent, thank you!

Stylish banner, by the way.

[2020-02-19 01:54] pltanton opened #8 "Buildscript deps generates paths to home directory"
With kotlin project, gradle-env.json contains weird paths, that points to my local directory:

[code]

Of course it is impossible to build, if I replace these paths with real urls everything works fine.

[2020-02-19 03:15] tadfisher commented on #8
Strange, we should skip local repositories (this dependency comes from the Kotlin DSL for Gradle). Which Gradle version are you using?

[2020-02-19 03:16] tadfisher commented on #8
Nevermind, I see it in the path. I'll see if I can reproduce here. Can you post your Gradle build script?

[2020-02-19 12:49] pltanton commented on #8
Probably problem is specific for kts scripts? Here is full build.gradle.kts, it is pretty default:
[code]

Furthermore, as I remember the generated local paths was for kotlin-stdlib and kotlin-reflect booth. Also, the generated paths is for version 1.3.20, but in project configuration it is 1.3.61.

[2020-02-19 21:05] #8 closed

[2020-02-19 21:05] tadfisher commented on #8
@pltanton Could you try the latest master? If the issue is fixed, I'll ship an RC2.

[2020-02-19 23:25] pltanton commented on #8
Yeep, looks good now, the "buildscript" entity renders as empty array! Thanks!

[2020-02-24 23:58] dali99 opened #9 "error: invalid character '/'"
using c3c40795660f0c523dbfc65e2d74bdaceb6a2849 I get the followin error message while building on 19.09:

[code]

[2020-02-25 00:01] dali99 commented on #9
Wait that's 19.03... I might have something broken on this install

[2020-02-25 00:08] dali99 commented on #9
yeaap that was it, sorry for the noise

[2020-02-25 00:08] #9 closed

[2020-02-27 04:59] pentlander opened #10 "Relationship with Gradle dependency locking"
Hi, I'm just wondering how this tool fits in with Gradle's native dependency locking. Is this mostly meant for the case when the target package does not use the native Gradle locking and it needs to be packaged in nixpkgs? This repo uses both, are there advantages to doing that?

[2020-02-27 06:19] tadfisher commented on #10
Hi!

As far as this tool is concerned, it has no idea how Gradle or the project specifies its dependency versions, and that's the advantage from the Nix side; we pin dependencies whether they're locked in Gradle or not. If a dependency is locked on the Gradle side, this tool will pin it at the same version, however.

No IDE or build system uses gradle2nix, though, so Gradle dependency locking is s

[2020-02-28 17:29] pentlander commented on #10
Thanks for the info and thanks for making this, it works great! I was asking because I'm working on setting up CI/CD for a Kotlin web server on NixOS and I was just trying to figure out how to accomplish this. It seems like gradle2nix might not be necessary for my use case of just deploying to a server rather than distributing to other people.

[2020-03-03 05:58] #10 closed

[2020-03-04 06:20] pentlander commented on #10
Ahh nevermind I do need it, I didn't realize that build were performed in a sandbox by default. Is there anything I can help out with? Particularly I'd like to make generating the new gradle-env.json faster.

[2020-03-08 23:48] piegamesde opened #11 "How to specify the Java version?"
I nixified my JavaFX application and when trying to build it I get `java.lang.UnsupportedClassVersionError: org/openjfx/gradle/JavaFXPlugin has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0`.

Using Gradle, everything runs fine, I also set the compatibility to `JavaVersion.VERSIO

[2020-03-09 00:27] tadfisher commented on #11
When calling `buildGradle`, you need to override `jdk` in the nixpkgs environment, or to set `JAVA_HOME` in the build environment (e.g. in `preBuild`).

A more ergonomic way to do this would be to have a `buildJdk` argument or similar for gradle-env.nix.

[2020-03-09 22:23] piegamesde commented on #11
I got it to work now, thanks. Feel free to close this issue if you don't think adding `buildJdk` is necessary.

[2020-04-16 00:55] Pamplemousse opened #12 "Fails with a mysterious `Could not resolve all dependencies for configuration` error"
When trying to write an expression for [ZAP 2.9.0](https://github.com/zaproxy/zaproxy/tree/v2.9.0), I encounter the following error:

<details>
  <summary>Toggle error log</summary>

[code]
</details>

Unfortunately, I never used Gradle in my life, and could not find any lead on how to fix this issue after looking around for potential solutions...

It would be awesome if you could help on that.

H

[2020-04-16 17:32] tadfisher commented on #12
Thanks, I'll take a look.

[2020-04-17 21:34] tadfisher commented on #12
ZAP contains plugins in its `buildSrc` project, which are those dependencies with coordinates `unspecified:unspecified:unspecified`. That's fine, but the transitive dependencies are coming through with no version information. I'm going to do a more extensive dive in a bit here.

[2020-04-23 17:10] pstn commented on #12
I think I found a similar error trying to buiid [orgzly](https://github.com/orgzly/orgzly-android):

[code]

Side note @Pamplemousse: How did yea create this error log toggle? Looks very usefull.

[2020-04-23 17:27] Pamplemousse commented on #12
@pstn: With the following tags:
[code]

Which displays as:

<details>
  <summary>toggle</summary>

  lots of things
</details>

[2020-04-24 02:06] tadfisher commented on #12
@pstn I'm fairly confident that is the Android Databinding code failing to locate the Android SDK, which is an impurity in the build. I've been meaning to get gradle2nix working for Android projects; would you mind opening a separate issue for this?

[2020-04-25 09:54] pstn commented on #12
@tadfisher Oh, yes. Of course! Opening one up.

@Pamplemousse Thanks! My reports will look much nicer from now on.

[2020-04-25 10:02] pstn opened #13 "Feature Request: Make gradle2nix work for android projects"
It would be a huge help if gradle2nix would work for android builds with their impurities. Ticket as requested.

<details>
<summary>toggle error log</summary>

[code]
</details>

[2020-05-18 06:18] euank commented on #11
It's probably worth documenting this; it took me a few tries to get a working override here.

Here's what I ended up with which worked for my derivation (where I needed to build with jdk11 but it was defaulting to jdk8):

[code]

I'm curious if that's the same solution you ended up with, or a different one @piegamesde

[2020-05-18 10:47] piegamesde commented on #11
I went with an overlay:

[code]

[2020-06-07 00:21] euank commented on #11
I think the two easiest paths to resolving this issue are:

1. Add an attribute to `buildGradle` for the java version (i.e. just plumb through `java` to `gradleGen` if it's set)
2. Document overriding gradleGen for the java version somewhere. It looks like the readme is all the docs we've got here.

@tadfisher Do you have any opinion or other ideas here? I think 1 makes sense to me and I'm happy t

[2020-06-12 14:01] dasJ opened #14 "org.grails:grails-gradle-plugin:3.3.9 dependencies are not found"
I'm currently trying to package [bigbluebutton-web](https://github.com/bigbluebutton/bigbluebutton/tree/develop/bigbluebutton-web) which uses the grails gradle plugin ([see here](https://github.com/bigbluebutton/bigbluebutton/blob/develop/bigbluebutton-web/build.gradle#L8)).
However, gradle2nix (`gradle2nix -g 5.6.4 -c compile`) seems to generate the wrong dependency versions:

[code]

Gradle2nix

[2020-06-18 18:48] dasJ opened #15 "Maven BOMs are ignored"
Maven supports [BOM dependencies](https://howtodoinjava.com/maven/maven-bom-bill-of-materials-dependency/).
These are specified as:
[code]

For some reason, Gradle2nix doesn't seem to resolve them, resulting in a missing dependency on `nix-build`.

[2020-06-18 18:54] dasJ commented on #15
PR adding BOM support to Gradle: https://github.com/gradle/gradle/pull/3383

[2020-06-24 21:31] tadfisher commented on #15
Interesting, I will check this out.

[2020-06-24 22:10] tadfisher commented on #15
This apparently works in the `lenient-configs` branch. I've added a test, and I will try to get that branch polished up and ready to ship.

[2020-06-24 22:12] tadfisher commented on #14
Can you try the `lenient-configs` branch and let me know if this is still broken?

[2020-07-29 17:54] eyJhb commented on #14
@tadfisher I have tried the branch on a similar error, at least I think.

[code]

I can open a new issue however if needed.

Trying to use this on Signal Android app

[2020-07-30 10:06] eyJhb opened #16 "buildSrc not working"
Initscripts will not be applied to buildsrc, as mentioned here - https://github.com/gradle/gradle/issues/1055

The workaround is to use this - https://docs.gradle.org/current/userguide/init_scripts.html#sec:using_an_init_script , where we put the init script into `$GRADLE_HOME/init.d`.

Should be a simple PR :)

[2020-07-30 23:32] eyJhb opened #17 "Lenient configuration - attributes"
I have tried the lenient config branch, and it seems to work well. There is one issue however.

When I use it on antennapod Android app source, I get these errors

[code]

Which seems like the thing in https://github.com/gradle/gradle/issues/5953

But I have no skills in this what so ever, hoping @tadfisher  might know a trick to get this running.
Seems like the last thing, before we can get Andro

[2020-07-31 22:40] eyJhb commented on #17
Seems this is fixed, by cleaning the cache

[code]

[2020-07-31 22:45] eyJhb opened #18 "Not getting all dependencies"
There are currently a problem, where it will not get all the dependencies + it will not place them in the correct deps (plugin, buildscript, etc.)

I have been trying with AntennaPod ( https://github.com/AntennaPod/AntennaPod ), where it will

1. Constantly set the Gradle version in the `gradle-env.json` to something like 4.x.x, even if a higher version is specified with `-g`
2. Not have the right

[2020-08-01 12:01] eyJhb commented on #13
Firstly, I use the brachk here - https://github.com/eyJhb/gradle2nix/tree/buildscript-fix that I have a PR for.

[code]

This will place a `./result/bin/gradle2nix` that we will use.
Next grab the orgzly source (recursive because, why not? - not have been giving me problems with other repos), and checkout the latest release

[code]

Clean out any Gradle leftover stuff (only run if you are sure not

[2020-08-01 12:14] eyJhb commented on #18
I think that #17 needs to be fixed, and then this might go away.

[2020-08-01 12:14] eyJhb commented on #17
Going to reopen this again, as it did not fix the issue for me, I still think this may be the main blocker.
Because Android does not provide defaults.. Sadly.

[2020-08-01 14:28] eyJhb commented on #17
A way this might get fixed/better, is that instead of a project we allow for the ability to specify a task/list of tasks that we want the dependencies for. Because I think it is AntennaPod that has a weird task some place, that is just legacy

[2020-08-01 14:47] pstn commented on #13
This works but only with a [patch to nixpkgs](https://termbin.com/uxdy) that @eyJhb will mainline.

[2020-08-01 18:51] pstn commented on #13
@tadfisher Should this be closed or do you want to keep it open to automate the process somewhat?

[2020-08-06 21:01] #16 closed

[2020-08-06 21:12] tadfisher commented on #17
I'll look into it, but I don't think it will be possible get all of the required dependency configurations given a task. Gradle itself doesn't enforce that configurations are part of task inputs, and tasks can run arbitrary code to resolve whatever configurations they like.

An interesting idea is to duplicate the code used for dependency locking in later gradle versions, where we run a task and s

[2020-08-06 21:32] eyJhb commented on #17
It would be nice to get a pr. task dependency list. I have tried playing a little with the other, but didn't seem to work great...
Tried for a few hours to get it to work, but atm. I guess I have to accept some applications not working.

Is there maybe a way, we can use the Gradle cache to get all the dependencies, and then parse that?
E.g. I will `rm -rf ~/.gradle` before I run a task, and then p

[2020-08-06 21:33] eyJhb opened #20 "Question: splitting dependencies"
Is there any reason why the dependencies are split up into project and then buildscript, plugin and project? Having them in a single dependencies list would yield the same result, but simplify multiple things (I am guessing).

Also, huge thanks for this project!!

[2020-08-11 19:52] eyJhb commented on #13
@pstn  as it already works for Android projects, I guess this can be closed?

[2020-08-15 18:48] tobiasBora opened #21 "Java needs to be installed independently?"
Hello,

I tried to install `gradle2nix` using:

    nix-env -if "https://github.com/tadfisher/gradle2nix/archive/master.tar.gz"

and then I ran `gradle2nix` in a folder containing https://github.com/Audiveris/audiveris. But I get the error:

[code]

After installing the `openjdk11` package, the error is gone, but it's a bit strange to me that I need to install another package, as I'd expect gradle

[2020-10-22 12:01] Mic92 opened #22 "Gradle fails to find native-platform jar"
Full error output

[log.txt](https://github.com/tadfisher/gradle2nix/files/5422530/log.txt)

steps to reproduce:

[code]

I currently don't see c libraries missing after I used `export LD_DEBUG=libs`. Do you see what is going wrong here?

[2020-10-22 18:17] tadfisher commented on #22
We don't handle the naming scheme for the `native-platform` jar in this release, which is `native-platform-0.22-milestone-4.jar`. I believe this is fixed in the `lenient-configs` branch, which I should probably just merge at this point.

[2020-10-23 06:43] Mic92 commented on #22
Yes. After merging the branch it worked.

[2020-10-23 07:16] #22 closed

[2020-11-11 15:13] jmglov opened #25 "Plugin applied in settings.gradle missing from offline repo"
I have a `settings.gradle` which looks like this:

[code]

When I try to build the Nix derivation produced by gradle2nix, I get this:

[code]

I see no sign of the `net.vivin.gradle-semantic-build-versioning` plugin in `gradle-env.json`.

[2020-11-18 11:24] mschwaig opened #26 "Mismatching hashes and dependency versions for gradle2nix itself"
I just tried to build gradle2nix with the command suggested in the README.md:

[code]

which always seems to give me a mismatching hash for different random parts of jackson.

For example with the latest nix docker image:

[code]

And with my local machine running unstableNix:

[code]
Looking into that a bit I saw that the jackson version in [fixtures/basic/basic-kotlin-project/kotlin/build.gradle

[2020-11-19 14:38] #14 closed

[2020-11-19 18:59] tadfisher commented on #26
This is strange, I'm not sure why jackson is being pulled in at all. Let me investigate.

[2020-11-19 19:55] mschwaig commented on #26
With the changes I made in #27 I was able to bypass the issue for now and and to then successfully apply `gradle2nix` to one of Gradle's builtin kotlin hello world projects and package it as a flake. 👍

Thanks for making that possible.

[2020-11-21 20:02] #15 closed

[2020-11-21 20:04] tadfisher commented on #25
Hmm, a settings plugin may be difficult to extract. I'll take a look and see if there's some magic I can cast.

[2020-11-23 03:35] tadfisher commented on #26
Does this work with the latest commit on `master`? That version of `jackson` is actually required by a plugin dependency.

[2020-11-23 18:29] stites commented on #26
This isn't working as far as I know, but not with jackson. For me I see this with javax.servlet-api:
[code]

[2020-11-23 19:11] mschwaig commented on #26
Looks like I'm seeing the same mismatching hashes as @stites right now. Thanks for confirming that this does not only happen for me.

[code]

[2020-11-23 19:56] tadfisher commented on #26
Ah, once I run `nix-collect-garbage` to clear out my existing dependency derivations, I see this too. Investigating.

[2020-11-23 20:00] stites commented on #26
@tadfisher see #28

[2020-11-23 20:47] mschwaig commented on #26
#28 is basically the same thing that I did in #27, but for a different dependency.

Since `gradle2nix` depends on `gradle-env.json` and `gradle-env.nix` it always indirectly depends on a previous version of itself.
The hashes inside `gradle-env.json` naturally are the part of that that can very easily break.

Maybe it would be helpful to have a flag inside `gradle-env.nix` or somewhere that can di

[2020-11-23 21:03] tadfisher commented on #26
@mschwaig That's not really a viable solution; if `gradle2nix` generates bad hashes for itself then it will do so for any project you run it on, making it a non-usable tool.

Anyway, what's going on is that we are hashing the artifact in the Gradle cache, which is apparently not the same as the artifact from the source repo. I'm not sure what Gradle is doing to alter these files (perhaps it's rege

[2020-11-23 21:32] tadfisher commented on #26
Ah, that file is being served with CRLF (Windows) line separators, and Gradle is saving it to the cache with LF (Unix) line separators.

I've moved hash generation to our own resolvers, but this is extremely slow as we have to redownload every dependency. It might be worth doing this only for POM artifacts just to mitigate this issue, or somehow normalizing POMs at fetch time.

[2020-11-23 21:41] tadfisher commented on #26
This is the root cause, FWIW: https://github.com/gradle/gradle/issues/9072

[2020-11-23 22:31] tadfisher commented on #26
@stites @mschwaig Try it now?

[2020-11-23 22:46] tadfisher commented on #20
@eyJhb There are a few reasons that combine to force us to do this:

- Gradle resolves artifacts independently for each of these scopes, using a potentially different set of configured resolvers.
- The resulting classpath is also independent for each of these scopes.
- Gradle allows specifying _changing_ artifacts, such as version ranges (e.g. `com.foo:bar:1.+`) or snapshots (`com.foo:bar:1.0.0-SN

[2020-11-23 23:00] mschwaig commented on #26
`gradle2build` builds successfully now, thanks.

[2020-11-24 00:42] tadfisher commented on #25
So, I can do this, but I'm having a hard time applying the offline repo to the settings script from an init script. `beforeSettings { }` was added in Gradle 6.0, and that works, but versions prior to that don't expose a callback that runs when settings are available before actually evaluating the settings. Both `buildStarted` and `settingsEvaluated` run too late.

Are you fine with adding support

[2020-11-24 13:31] jmglov commented on #25
I came across the `beforeSettings {}` hook as well when I was investigating this. I think it's perfectly fine to support this only for Gradle 6+. I guess it would make sense for `gradle2nix` to fail with a nice error message if it finds a settings plugin with a too old version of Gradle, right?

Thanks for looking into this!

[2020-11-24 14:33] stites commented on #26
Works for me as well! Thanks!

[2020-11-25 00:39] tadfisher commented on #25
Hopefully fixed by https://github.com/tadfisher/gradle2nix/commit/fd6a6f469348690c92551313ccbe295b254d6a16.

[2020-12-06 05:10] petabyteboy commented on #26
Still (or again?) having this issue with the following command:

[code]

The output is the following:

[code]

[2020-12-06 05:15] petabyteboy opened #30 "stabilizing gradle-env{.json,.nix} format/interface"
Since we had the discussion on breaking changes in https://github.com/NixOS/nixpkgs/pull/77422 I've kind of been waiting for a 1.0.0 release in the assumption that there might be more breaking changes until then. So I would like to track the status of this stabilization here. What is still to be done, or can we use gradle2nix in nixpkgs as-is?

[2020-12-09 15:07] jeeger commented on #26
Yep, same problem here:
[code]

[2020-12-09 20:50] tadfisher commented on #26
This issue is caused by me; when I hack on gradle2nix, it's pulling hashes from my local gradle cache, which normalizes certain artifacts such as POM files. It's time to add some CI to avoid this.

[2020-12-09 21:10] tadfisher commented on #30
Packaging gradle2nix should be fine, so I would start with that.

I sort of disagree with integrating the `buildGradle` function in nixpkgs. We don't do that for node2nix, for example, which gives node2nix the freedom to change their lockfile format. So I'd prefer we didn't do that, and just package both `gradle-env.nix` and `gradle-env.json` with each derivation that needs them.

[2020-12-10 01:55] tadfisher commented on #30
One incompatible change I want to make is to switch to SRI hashes, so I will likely rename the `sha256` field for dependency objects.

[2020-12-11 09:33] mschwaig commented on #26
This is the `.gitlab-ci.yml` file that I used for reproducing this issue on another machine, in case it is helpful.

[code]

To test for that kind of issue it's actually nice hat this starts with nothing relevant in `/nix/store` each time.

[2021-01-28 03:43] bryandatanerds opened #32 "Support for S3 repositories"
Hello,

I've been trying to get a previously working Nix build of a project going again after various upgrades of Gradle and Spring, and the current issue I'm facing is that we have an S3 bucket that we use as a Maven repository, but this seems not to work now when calling gradle2nix, perhaps because of the new dependency resolution introduced in 648be6bd071309705937d71ecf62b735d32f27c8.  The erro

[2021-01-28 04:38] bryandatanerds opened #33 "Missing dependencies for Spring Boot project"
If I create a Gradle Java project using https://start.spring.io with recent Gradle (6.7.1) and Spring (2.4.1), gradle2nix seems to miss POM-only `*-bom` and `*-parent` dependencies in the gradle-env.json it produces.  It's a bit slow to go through and add them one by one, so I haven't got a complete list yet, but here are the missing deps so far:

    spring-boot-dependencies-2.4.1.pom
    java-dr

[2021-01-29 19:08] tadfisher commented on #32
Yeah, this is an unfortunate side-effect of using an external dependency resolver like Ivy. While Gradle's internal resolver originated from Ivy, it has diverged enough that it is now a moving target for anyone trying to emulate it.

Unfortunately, Gradle's internal resolution code is sprawling and deliberately not well-exposed to the outside world. We need to use internal APIs just to obtain the

[2021-01-29 19:08] #25 closed

[2021-02-03 13:13] rolfschr opened #34 "Access intermediated build files after build?"
Hi,

I'm trying to compile an Android app with gradle2nix which has worked out of the box. Thanks a lot already for implementing this tool!

The app has some special setup. It uses https://github.com/joshjdevl/libsodium-jni as an input for an additional library (say "libX") that itself is then compiled and used to build the app again.

This is the current non-nixified workflow:

- Build the app us

[2021-02-03 23:20] tadfisher commented on #34
Is this your own project, as in you control the source? Because I would suggest improving the Gradle build instead so you can build the project in one run.

Looking at `libsodiumjni`, `libsodiumjni.so` is prebuilt and included in the JAR/AAR artifact. So the build for `libX` should depend on a `Copy` task which extracts the library from the JAR/AAR, so libsodiumjni should be part of its own config

[2021-02-03 23:43] tadfisher commented on #33
Maven BOM artifacts are currently supported via the built-in Gradle `platform()` and `enforcedPlatform()` APIs. Projects generated using that tool do not use Gradle's BOM support; instead they apply the [Spring Dependency Management](https://github.com/spring-gradle-plugins/dependency-management-plugin), which performs its own dependency resolution and maintains a separate `ConfigurationContainer`

[2021-02-04 01:06] tadfisher commented on #32
@bryandatanerds I added preliminary support for resolving dependencies from S3 in the [s3 branch](https://github.com/tadfisher/gradle2nix/compare/s3). Would you mind trying this out?

If you are using Nix 2.4 with flakes support, you can run:

[code]

Otherwise, you can build it using:

[code]

[2021-02-04 20:32] rolfschr commented on #34
@tadfisher Thanks a lot for the quick and elaborate answer! I will see what I can do. Thank you so much again!

[2021-02-08 10:50] eyJhb opened #37 "New analysis method?"
Can this maybe be used, instead of the custom method? https://github.com/gradle-dependency-analyze/gradle-dependency-analyze

Might be better to outsource that part, as I have had issues with some dependencies not being detected.

[2021-02-08 21:25] tadfisher commented on #37
Thanks, I'll take a look. I've been working on trying to use Gradle's internal APIs for this, but if that solution works I would be satisfied.

[2021-02-08 21:45] tadfisher commented on #37
@eyJhb Can you provide specific examples of dependencies that we don't resolve? I can add test cases for them.

[2021-02-09 08:30] eyJhb commented on #37
I can try to see if I can find some, but I think it was in general Signal/Antennapod. :)

[2021-02-17 20:42] zsiegel opened #38 "Leverage Gradle Lockfile"
Hi there

I was reading about this project as I started to explore reproducible gradle builds.

I read the readme and understand (I think) how this package intends to function.

I am curious if enforcing the use of Gradle lockfiles would eliminate the need for the network based dependency tracking?

I was planning to use the single lockfile approach to ensure my gradle builds are reproducible **be

[2021-03-10 04:06] tadfisher commented on #38
The problem this project solves is that Gradle deals only in *dependencies*, when what we want is *artifacts*.

Dependencies are generally Maven coordinates (group, module, version, and optionally classifier and type), and artifacts are the actual files needed to build the project or resolve further dependencies (Java JARs, Maven POMs, Ivy XML descriptors, and/or Gradle module metadata files).

Gr

[2021-03-10 14:15] zsiegel commented on #38
The distinction between a list of dependencies and a list of verified artifacts is a very interesting distinction I had not thought of!

Thank you for the explanation - Nix and its ecosystem are bending my brain a little bit but this makes a ton of sense.

Your build.gradle file may only list a small subset of dependencies - which then get transformed by Gradle in mysterious ways into a different

[2021-03-10 23:56] tadfisher commented on #38
Dependency verification metadata is *almost* what we want. However, the XML produced contains filenames of each artifact in the cache, which can be different from the filename in the external repository. I could still possibly use this information but it will require using private Gradle APIs to obtain the `url` field corresponding to the file in the Gradle metadata.

[2021-03-11 01:04] tadfisher commented on #32
@bryandatanerds I'm going to go ahead and merge #35, which should address this. If the S3 support doesn't work for you, feel free to reopen this.

[2021-03-11 01:04] #32 closed

[2021-03-11 01:11] bryandatanerds commented on #32
Hi @tadfisher, thanks for your replies to both of my issues and sorry for the radio silence.  I've been busy and haven't had a chance to come back and respond properly (plus I managed to work around both of the issues, so it was a case of being good enough for the moment).  I did run this and I got an exception while gradle2nix was running, so I'll try again and if the problem persists I'll post b

[2021-03-12 13:43] Atemu commented on #13
Neither the current master, nor @eyJhb's branch works for me on Darwin or Linux.

I get this error on the super simple "Basic Activity" template from Android Studio:

<details>
<summary>
Log
</summary>
Resolving project model: root project...
    Subproject: :
    Subproject: :app

FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all dependencies for configuration ':a

[2021-03-15 20:25] tadfisher commented on #13
I've integrated Nix into my Android app build in a more straightforward way, as gradle2nix isn't geared toward usage in a project, but more toward packaging third-party projects.

Here's a gist with the moving parts: https://gist.github.com/tadfisher/17000caf8653019a9a98fd9b9b921d93

For the Android-dependent parts (e.g. the Android SDK), you can build an SDK installation with Nix from https://git

[2021-04-06 19:02] lorenzleutgeb commented on #33
For posterity, I had a similar issue. Was getting

[code]

and worked around by adding

[code]

Thanks for the hint 🙂

[2021-04-10 16:27] lukegb opened #39 "gradle2nix is very slow on rundeck"
I tried running it on e.g. https://github.com/rundeck/rundeck, and it took 1h 10m 51s to complete.

Is it expected to be this slow? I tried checking to see if I could increase the verbosity somehow but it looks like the only option is quiet, to reduce the verbosity, not to make it any shoutier.

It then appeared to miss some deps anyway:

[code]

[2021-04-12 11:32] eyJhb commented on #37
Trying with https://github.com/acristescu/OnlineGo/releases/tag/alpha_b346

I have this `shell.nix` file

[code]

When you run `nix-shell`, then the last line will be a path you should insert into `local.properties`, so that it looks like.

[code]

It fails during this. Any idea why?

[2021-07-23 21:36] TLATER opened #41 "Source dependencies prevent builds"
Hi, I'm trying to package [Maptool](https://github.com/RPTools/maptool), which includes a source dependency through its [settings.gradle](https://github.com/RPTools/maptool/blob/a99bd7829be13c7211c60c3ef610d3e7b4b488f9/settings.gradle).

This results in:

[code]

Given gradle/gradle#10588, I believe it's impossible to build any project that uses that feature using `gradle2nix` (and possibly nix in

[2021-08-13 07:02] NerdyPepper commented on #13
@tadfisher could you describe the `lock` task used in the gist?

[2021-08-30 19:05] DavHau opened #43 "gradle2nix fails on android project: conversations"
We are currently trying to package https://github.com/iNPUTmice/Conversations

We have difficulties using gradle2nix.
It would be great to get some help.

reproduce:
[code]

The code of the flake app can be found in [`sphinx-approach/flake.nix`](https://github.com/DavHau/conversations/blob/f316307ea143dd2e834efa49c102108e5965cc49/sphinx-style/flake.nix#L111-L132)

[2021-09-01 21:53] DavHau commented on #43
Seems like the wrong jdk was used. Now the gradle2nix tool runs successfully, but the build fails, complaining about all dependencies from `gradle-env.json` missing. So something must still go wrong with what gradle2nix does, it seems.
I updated the branch from above.

[2021-09-28 15:00] vaci opened #44 "Unable to fetch gradle-stutter module during installation"
Hi,

I'm attempting to install gradle2nix directly from the latest github release, tag. I'm using the following command:

`nix-env --option sandbox false -if "https://github.com/tadfisher/gradle2nix/archive/master.tar.gz"`

However, the build gives the following error:
`error: cannot download gradle-stutter-0.6.0.module from any mirror`.

I can see that curl is attempting to fetch the following UR

[2021-09-29 11:27] vaci opened #45 "Error "Could not find method implementation()" when building src project"
I'm attempting to use gradle2nix to build a large project, https://github.com/real-logic/aeron.

Most of the dependencies seem to be processed successfully, but I get an odd error with the buildSrc sub-project, which has the following build.gradle file:

[code]
The error is:
Caused by: org.gradle.internal.metaobject.AbstractDynamicObject$CustomMessageMissingMethodException: Could not find method i

[2021-10-06 21:06] jurraca commented on #26
This seems to still be an issue, for whoever runs into this
[code]
I checked the hashes: whatever is generated in `gradle-env.json` doesn't match what a `nix-prefetch-url` returns for the package jar urls. Using master with `nix run github:tadfisher/gradle2nix .` .

[2021-10-13 20:40] mschwaig commented on #13
Not a full explanation but I had to replace `lock` with `dependencies`.

[2021-11-10 21:12] hhoeflin opened #47 "build issue with gradle2nix for qupath"
Hi,

I am trying to build the [qupath project](git@github.com:qupath/qupath.git) with gradle2nix. Running gradle2nix runs without issue, so does `./gradlew` directly in the qupath directory. But if I want to build it using nix I get

[code]

I don't know much about java, any help appreciated. Otherwise will have to use the prebuilt binary.

Thanks for any help

[2021-11-11 05:41] hhoeflin commented on #47
Sorry, likely not related to gradle

[2021-11-11 05:41] #47 closed

[2021-11-13 22:15] hhoeflin opened #48 "Qupath packaging"
Hi,

I tried to package Qupath version 0.3.0  https://github.com/qupath/qupath. At first, there was an error as jdk8 was too old to tun gradleGen. I solved this by providing a newer java, but then the build fails as several dependencies cannot be found in the nix store.

Not sure what to do, don't really have much experience with java or gradle.

Any help appreciated.

thanks

[2022-01-18 01:47] Scoder12 commented on #26
I'm unable to run this tool due to this error.
[code]

[2022-01-21 16:07] BenediktBroich opened #51 "Flake installation fails with hash mismatch"
Flake installation fails.

Command (shown in Readme.md):
[code]

Error:
[code]

[2022-02-08 15:08] yuri-potatoq commented on #51
I had the same problem.

[code]

[2022-02-09 01:17] bryandatanerds commented on #51
There's a PR open for this, #50.  Maybe it will work if you run `nix run github:Scoder12/gradle2nix`, until that PR is merged?

[2022-03-10 18:03] heph2 opened #52 "gradleGen called without required argument 'version'"
Building gradle2nix using 'default.nix' fails:

[code]

Error:
[code]

[2022-05-23 09:40] Profpatsch opened #53 "Cannot nix-build gradle2nix based on readme"
[code]

[2022-05-23 09:42] Profpatsch commented on #53
looks like it broke with nixpkgs https://github.com/NixOS/nixpkgs/commit/01f4c7ec881a0a52638f090aacf51461a20b472

[2022-09-20 15:59] Sintrastes commented on #53
@Profpatsch Any workarounds for this?

[2022-09-21 01:26] chuangzhu commented on #53
https://github.com/randomnetcat/gradle2nix works for me

[2022-11-08 14:08] lorenzleutgeb commented on #52
I believe this could be fixed by merging #49.

/cc @tadfisher

[2022-11-08 14:09] lorenzleutgeb commented on #53
There's a PR ready at #49, and some forks that work.

/cc @tadfisher